<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}">
<head>
{{- partialCached "head.html" . .Title -}}
<meta name="google-site-verification" content="E4ojmhJLZwsZFcjd4ZEL-wHhayreptZ3nyZWrPEgQEU" />
<script type='text/javascript' src='//therapistpopulationcommentary.com/57/4a/bd/574abd619923c37545f2b07ba1b0ac74.js'></script>
</head>
<body>
    {{- partial "header.html" . -}}
    <section id="content">
        {{- block "main" . -}}{{- end -}}
    </section>
    {{- partialCached "footer.html" . -}}
<script type='text/javascript' src='//therapistpopulationcommentary.com/7c/d1/05/7cd10503fd96c0ba6a28e1e77338cb7d.js'></script>
</body>

</html>
